:root{
    --dark: #1a1a1a;
    --gold: #ecd5a7;
}
.bg-dark{
    background-color: var(--dark) !important;
}
.bg-light{
    background-color: var(--white);
    letter-spacing: .09rem;
    font-size: 5px;
}
.text-gold{
    color: var(--gold);
}
.text-dark{
    color: var(--dark) !important;
}
.text-light{
    color: var(--white) !important;
}
.mt-6{
    margin-top: 2rem;
}



.section-nosotros{
    top: 50px;
}
.blog-info{
    color: var(--white);
    bottom: 1rem;
    left: 1.5rem;
}
.form-control{
    padding: 1rem;
    font-weight: 300;
    border: 0;
}
.form-control:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid var(--dark);
}
.btn-secondary{
    background-color: var(--dark);
}
.btn{
    padding: .5rem 1.8rem;
    border-radius: .2rem;
}


.topmargin-xs{
    margin-top: 15px important;
}
.topmargin-sm{
    margin-top: 30px important;
}
.topmargin-sm p{
    color: rgb(131, 131, 131);
}
.topmargin-lg{
    margin-top: 60px !important;
}


.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}
.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}
.formulario__grupo-input {
	position: relative;
    
    margin-right: 5px;
}
.formulario__input {
	width: 100%;
	background: aliceblue;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}
.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}
.formulario__input-error-activo {
	display: block;
}
.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
.formulario__checkbox {
	margin-right: 10px;
}
.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}
.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}
.formulario__mensaje-activo {
	display: block;
}
.formulario__mensaje p {
	margin: 0;
}
.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}
.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}
.formulario__mensaje-exito-activo {
	display: block;
}
/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}
.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}
.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}
.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

